/* Add this to your existing styles.css file or create a new CSS file for contact.html */

/* Styles for Contact Page */

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('your-background-image-url.jpg'); /* Replace 'your-background-image-url.jpg' with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.contact {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.contact h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info p {
  color: #333;
  margin-bottom: 15px;
}

  .contact{
    background: rgba(0,0,0,0.8) url('ayu3.jpeg');
    background-size: contain;
    background-blend-mode: darken ;
    color: yellow;
  }





  /* Add this to your existing styles.css file or create a new CSS file for review.html */

/* Styles for Review Page */

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url('your-background-image-url.jpg'); /* Replace 'your-background-image-url.jpg' with your image URL */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

.reviews {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.reviews h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.review {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.review p {
  color: #333;
  margin-bottom: 15px;
}
